.main-content{
    padding: 1rem;
    background-color: #f0dded;
    border-bottom: 1px solid #FF2E59;
    background-image: linear-gradient(360deg, #f7f0f4 0%, #ffffff 74%);
    .main-content-inner{
        max-width: 974px;
        margin: 0 auto;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        img{
            width: 200px;
        }
        .mn-cnt-t{
            h1{
                margin: 1.5rem;
                font-size: 40px;
            }
        }
        .mn-cnt-add{
            display: flex;
            height: 150px;
            align-items: center;
            flex-direction: column;
            gap:1rem;
            a{
                text-decoration: none;
                color: black;
                h3 {
                    border-radius: 5px;
                    padding: 0.7rem;
                    background-color: #ff2e59;
                    display: flex;
                    align-items: center;
                    &::before {
                        background: url('mdoge/img/pc.png') left center no-repeat;
                        vertical-align: middle;
                        background-size: 24px auto;
                        width: 30px;
                        display: inline-block;
                        height: 30px;
                        content: '';
                    }
                }
            }
            h4{
                border-radius: 5px;
                padding: 0.7rem;
                background-color: #ECECEC;
                
            }
        }
        .mn-cnt-mp{
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
            width: 100%;
        }
        .mn-finicail-m{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            #clockdiv {
                font-family: sans-serif;
                color: #fff;
                display: inline-block;
                font-weight: 100;
                text-align: center;
                font-size: 30px;
            }
            #clockdiv > div {
                padding: 10px;
                border-radius: 3px;
                background: #00bf96;
                display: inline-block;
            }
            #clockdiv div > span {
                padding: 15px;
                border-radius: 3px;
                background: #00816a;
                display: inline-block;
            }
            .smalltext {
                padding-top: 5px;
                font-size: 16px;
            }
        }
    }
}
.mn-cnt-mp img {
  height: 30px;
  object-fit: contain;
}
.mn-cnt-mp a:nth-child(2){
    position: relative;
    padding: 1rem;
    &::before{
        content: "coming soon";
        position: absolute;
        color: red;
        bottom: 0;
        left: 30%;
    }
}
.mn-cnt-mp a:nth-child(3) {
  position: relative;
  padding: 1rem;
  &::before {
    content: 'coming soon';
    position: absolute;
    color: red;
    bottom: 0;
    left: 30%;
  }
}
