.road-map{
    text-align: center;
    margin-bottom: 8rem;
    h2 {
        margin: 2rem 0 2rem 0;
    }
    .road-map-stater{
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
        gap: 3rem;
        padding: 1rem;
        .timeline{
            display: flex;
            position: relative;
            justify-content: space-between;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 20px;
            align-items: center;
            padding: 3rem;
    
            .fa-globe{
                padding: 2rem;
                background-color: #0d5fb0;
                border-radius: 100%;
                color: white;
                position: absolute;
                right: calc(56.5% + 1vw);
            }
            .timeline-year{
                font-size: 35px;
                padding: 1rem;
                border-radius: 12px;
                background-color:#20B2AA;
            }
            .inner-content > h3{
                font-size: 22px;
            }
        }
    }
}