<html lang="en">
{% load static %}
{% load sass_tags %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" src="{% static 'mdoge/img/main_doge.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogeMarines</title>
</head>

<body>
    <div class="outter-wrapper">
        <header>
            <nav class="nav-top">
                <input type="checkbox" name="" id="menu">
                <ul class=nav-l>
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <li>DogeMarines</li>
                </ul>
                <ul class='nav-m'>
                    <li>
                        <a href="#ContractPage">CONTRACT</a>
                    </li>
                    <li>
                        <a href="#TokenInfo">TOKEN INFO</a>
                    </li>
                    <li>
                        <a href="#About">ABOUT</a>
                    </li>
                    <li>
                        <a href="#RoadMap">ROADMAP</a>
                    </li>
                </ul>
                <ul class="nav-r">
                    <a target="_blank" href="https://t.me/joinchat/a64IaL37iocxYTc0">
                        <li><i class="fab fa-telegram-plane fa-lg"></i></li>
                    </a>
                    <a target="_blank" href="https://twitter.com/DogeMarines">
                        <li><i class="fab fa-twitter fa-lg"></i></li>
                    </a>
                    <a target="_blank" href="https://pancakeswap.finance/swap">
                        <li class="link-buy-d">
                            $DogeM
                        </li>
                    </a>
                </ul>
                <label for="menu" class='check-menu'>
                    <i class="fa fa-bars fa-lg"></i>
                </label>
            </nav>
        </header>

        <section class="content-area" id='ContractPage'>
            <main class="main-content">
                <div class="main-content-inner">
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <div class='mn-cnt-t'>
                        <h1>
                            The Birth of the True baby Marines Doge!
                        </h1>
                    </div>
                    <div>
                        <H2>Hold $DogeMarines Tokens<br> AND GET PAID PASSIVE INCOME <br>IN BNB EVERY
                            3 DAYS.</H2>
                    </div>

                    <div class="mn-cnt-add">
                        <a target="_blank" href="https://pancakeswap.finance/swap">
                            <h3>BUY PANCAKESWAP</h3>
                        </a>
                        <H4 class="cadd">Contract Address</H4>
                        <p>0xea1017c3f75fa0131aeebac3876558d23fd1e298</p>
                    </div>
                    <div class="mn-cnt-mp">
                        <a target="_blank"
                            href="https://bscscan.com/token/0xea1017c3f75fa0131aeebac3876558d23fd1e298"><img
                                src="{% static 'mdoge/img/bsc.png' %}" alt=""></a>
                        <a><img src="{% static 'mdoge/img/cm.png' %}" alt=""></a>
                        <a>
                            <img src="{% static 'mdoge/img/cg.png' %}" alt=""></a>
                    </div>
                    <div class="mn-finicail-m">
                        <p>Join the Financial Liberation Movement with $DogeMarines</p>
                        <h4>Your Next Automatic BNB Reward will arrive in :</h4>
                        <div class="countown" id='clockdiv'>
                            <div>
                                <span class='days'></span>
                                <div class="smalltext">Days</div>
                            </div>
                            <div>
                                <span class='hours'></span>
                                <div class="smalltext">Hours</div>
                            </div>
                            <div>
                                <span class="minutes"></span>
                                <div class="smalltext">Minutes</div>
                            </div>
                            <div>
                                <span class="seconds"></span>
                                <div class="smalltext">Seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <section class="main-purpose" id="About">
                <div class="purpose">
                    <h3>OUR PURPOSE</h3>
                    <P>‘Started with a meme, saving and growing with a purpose to get all the doge marines to be a doge
                        victory.’ - DogeMarine
                        Community together we build an Army of Marines.
                    </P>
                    <p>
                        If you missed on Doge, Shiba or Safemoon before their
                        100 000% take off … don't miss $DogeMarines.</p>
                </div>
            </section>
            <section class="purpose-objective">
                <div class='objective'>
                    <div class='obj-1'>
                        <img src="{% static 'mdoge/img/yes.png' %}" alt="">
                        <div class='obj-1-t'>
                            <h3>What is $Doge Marines?</h3>
                            <p>
                                Doge Marines seeks to mark it stance in the world of Legends inspired by the legend of
                                Elon Musk, He shows his new improved
                                transaction speeds &
                                adorableness. He is Hyper-deflationary with static reflection that rewards holders, so
                                more
                                Doge Marines
                                coins are being.
                            </p>
                        </div>
                    </div>
                    <div class='obj-2'>
                        <img src="{% static 'mdoge/img/yes.png' %}" alt="">
                        <div class='obj-2-t'>
                            <h3>How to get FREE BNB REWARDS every 3 days?</h3>
                            <p>
                                At every transaction our system collects a 7% fee that is converted in BNB and shared
                                equally among eligible $DogeMarines
                                holders.



                                Keep in mind that you need to hold 1,000000 tokens to be eligible.

                                The more people are buying and selling $DogeMarines the higher the passive income for
                                the
                                community of holders.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tokenmetric" id='TokenInfo'>
                <h2>Token</h2>
                <div class="marines-tokens">
                    <div class="token-1 token-title">
                        <h1>
                            PANCAKESWAP
                        </h1>
                        <ul>
                            <li>Under “Slippage Tolerance”, enter a custom value, between 11–15%.</li>
                            <li>Start low and increase if you get an error message when swapping</li>
                        </ul>


                    </div>
                    <div class="token-2 token-title">
                        <h1>
                            TOKENOMICS
                        </h1>
                        <ul>
                            <li>3% fee liquidity pool locked</li>
                            <li>3% fee charity wallet</li>
                            <li>7% fee auto distribute to all holders</li>
                            <li>2% fee auto burn</li>
                            <li>1% Market</li>
                            <li>1% Exchange</li>
                            <li>1% Dev</li>
                        </ul>
                    </div>
                    <div class="token-3 token-title">
                        <h1>
                            FEATURES
                        </h1>
                        <ul>
                            <li>Verified Contract</li>
                            <li>Active developers</li>
                            <li>Frictionless yield</li>
                            <li>Unruggable, LP burned</li>
                            <li>Hold and earn, thats it!</li>
                            <li>The most active Telegram communities</li>
                            <li>100% community trust</li>
                            <li>Prize contests every week</li>
                            <li>NFT marketplace for early adopters</li>
                            <li>Charity and partnerships</li>
                            <li>Learn more about Doge Marines</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="road-map" id='RoadMap'>
                <h2>OUR ROAD MAP</h2>

                <div class="road-map-stater">
                    <div class="timeline">
                        <div class="timeline-year complete">Phase 1</div>
                        <i class="fa fa-globe fa-4x"></i>
                        <div class="inner-content">
                            <h3 class="title">Price Tracker Listings</h3>
                            <p class="description">
                                CoinGecko, CoinMarketCap, LiveCoinWatch
                            </p>
                            <h3 class="title"> Decentralized Exchange Listings (DEX)</h3>
                            <p class="description">
                                Uniswap + 1Inch <i class="fas fa-check"></i>
                            </p>
                            <h3 class="title">Centralized Exchange (CEX) Listings</h3>
                            <p class="description">
                                Hotbit / WhiteBit / Other CEX
                            </p>

                            <h3 class="title">Audit</h3>
                            <p class="description">
                                Techrate.org (http://techrate.org/) Smart Contract Audit
                            </p>

                        </div>
                    </div>

                    <div class="timeline">
                        <div class="timeline-year complete">Phase 2</div>
                        <i class="fa fa-globe fa-4x"></i>
                        <div class="inner-content">
                            <h3 class="title">Centralized Exchange (CEX) Listings</h3>
                            <p class="description">
                                WhiteBit, Lbank, GateIO
                            </p>
                            <h3 class="title"> Audit</h3>
                            <p class="description">
                                Techrate.org (http://techrate.org/) Smart Contract Audit
                            </p>
                            <h3 class="title">DOGEMARINES</h3>
                            <p class="description">
                                DOGEMARINES Multi AirDrop DAPP
                            </p>

                        </div>
                    </div>


                    <div class="timeline">
                        <div class="timeline-year complete">Phase 3</div>
                        <i class="fa fa-globe fa-4x"></i>
                        <div class="inner-content">
                            <h3 class="title">Website</h3>
                            <p class="description">
                                Full Website Redesign w/ Dapp Integration
                            </p>
                            <h3 class="title"> Utility Token</h3>

                            <p class="description">
                                Ecosystem DAPP $DogeMarines SWAP
                            </p>

                            <h3 class="title">DogeMarines Audit</h3>
                            <p class="description">
                                Certik Audit of $DogeMarines Utility Token
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="connect">
                <div class="connect-l">
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <div class="connect-title">
                        <h2>Connect with us</h2>
                        <p>Our community has always been our number 1 priority.
                            Feel free to follow us on twitter, and our other social platforms to stay up-to-date
                        </p>
                        <h5>Join our Telegram community and say Hi!</h5>
                        <div class='connect-social'>
                            <a target="_blank" href="https://pancakeswap.finance/swap">
                                <h3>BUY PANCAKESWAP</h3>
                            </a>
                            <a target="_blank" href="https://t.me/joinchat/a64IaL37iocxYTc0">
                                <h3>TELEGRAM</h3>
                            </a>
                            <a target="_blank" href="https://twitter.com/DogeMarines">
                                <h3>TWITTER</h3>
                            </a>

                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-container">
                <div class="footer-main">
                    <div class="footer-cpyr">
                        <h2>DogeMarines Token</h2>
                        <img src="{% static 'mdoge/img/main_doge.png' %}">
                        <h2>2021 Marines</h2>
                    </div>
                    <div class='footer-dis'>
                        <p>
                            The contents on this site are for informational and entertainment purposes only and do not
                            constitute financial,
                            accounting, or legal advice. All investments are done at your own risk and research. Token
                            creators hold no
                            responsibility or liability for your investments.
                        </p>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='{%static "mdoge/js/app.js"%}'></script>

</html>
