<html lang="en">
{% load static %}
{% load sass_tags %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogeMarines</title>
</head>

<body>
    <div class="outter-wrapper">
        <header>
            <nav class="nav-top">
                <input type="checkbox" name="" id="menu">
                <ul class=nav-l>
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <li>DogeMarine</li>
                </ul>
                <ul class='nav-m'>
                    <li>
                        CONTRACT
                    </li>
                    <li>
                        TOKEN INFO
                    </li>
                    <li>
                        ABOUT
                    </li>
                    <li>
                        ROADMAP
                    </li>
                </ul>
                <ul class="nav-r">
                    <li><i class="fab fa-telegram-plane fa-lg"></i></li>
                    <li><i class="fab fa-twitter fa-lg"></i></li>
                    <li class="link-buy-d">
                        $DogeM
                    </li>
                </ul>
                <label for="menu" class='check-menu'>
                    <i class="fa fa-bars fa-lg"></i>
                </label>
            </nav>
        </header>

        <section class="content-area">
            <main class="main-content">
                <div class="main-content-inner">
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <div class='mn-cnt-t'>
                        <h1>
                            The Birth of the True baby Marine Doge!
                        </h1>
                    </div>
                    <div>
                        <p>
                            Marine Doge Coin has learned a few tricks and lessons from his meme father, Doge. A new
                            crypto
                            birthed by fans of the Doge
                            Coin online community. Baby Doge seeks to impress his father by showing his new improved
                            transaction speeds &
                            adorableness. He is Hyper-deflationary with static reflection that rewards holders, so
                            more
                            baby
                            doge coins are being
                            automatically added to your wallet each transaction. Simply Love, pet, and watch your
                            baby
                            doge
                            grow.

                            *SET SLIPPAGE 12%*
                        </p>
                    </div>
                    <div class="mn-cnt-add">
                        <h3>BUY PANCAKESWAP</h3>
                        <H4 class="cadd" Value='0x06ee0b9952110ffeabe273fa229091015c358490'>Copy Address</H4>
                    </div>
                    <div class="mn-cnt-mp">
                        <img src="{% static 'mdoge/img/bsc.png' %}" alt="">
                        <img src="{% static 'mdoge/img/cm.png' %}" alt="">
                        <img src="{% static 'mdoge/img/cg.png' %}" alt="">
                    </div>
                </div>
            </main>
            <section class="main-purpose">
                <div class="purpose">
                    <h3>OUR PURPOSE</h3>
                    <P>‘Started with a meme, saving and growing with a purpose to get all the doge marines to be a doge
                        victory.’ - Marine
                        Community
                    </P>
                </div>
            </section>
            <section class="purpose-objective">
                <div class='objective'>
                    <div class='obj-1'>
                        <img src="{% static 'mdoge/img/yes.png' %}" alt="">
                        <div class='obj-1-t'>
                            <h3>MEME-BASED</h3>
                            <p>
                                Like AMC and GME, memes are the new thing in 2021. This momentum has driven up the
                                adoption
                                of cryptocurrency as a safer
                                financial tool than traditional markets.</p>
                        </div>
                    </div>
                    <div class='obj-2'>
                        <img src="{% static 'mdoge/img/yes.png' %}" alt="">
                        <div class='obj-2-t'>
                            <h3>MEME-BASED</h3>
                            <p>
                                Like AMC and GME, memes are the new thing in 2021. This momentum has driven up the
                                adoption
                                of cryptocurrency as a safer
                                financial tool than traditional markets.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tokenmetric">
                <h2>Token</h2>
                <div class="marines-tokens">
                    <div class="token-1 token-title">
                        <h1>
                            PANCAKESWAP
                        </h1>
                        <ul>
                            <li>Under “Slippage Tolerance”, enter a custom value, between 11–15%.</li>
                            <li>Start low and increase if you get an error message when swapping</li>
                        </ul>


                    </div>
                    <div class="token-2 token-title">
                        <h1>
                            TOKENOMICS
                        </h1>
                        <ul>
                            <li>3% fee liquidity pool locked</li>
                            <li>3% fee charity wallet</li>
                            <li>2% fee auto distribute to all holders</li>
                            <li>2% fee auto burn</li>
                            <li>1% Market</li>
                            <li>1% Exchange</li>
                            <li>1% Dev</li>
                        </ul>
                    </div>
                    <div class="token-3 token-title">
                        <h1>
                            FEATURES
                        </h1>
                        <ul>
                            <li>Verified Contract</li>
                            <li>Active developers</li>
                            <li>Frictionless yield</li>
                            <li>Unruggable, LP burned</li>
                            <li>Hold and earn, thats it!</li>
                            <li>The most active Telegram communities</li>
                            <li>100% community trust</li>
                            <li>Prize contests every week</li>
                            <li>NFT marketplace for early adopters</li>
                            <li>Charity and partnerships</li>
                            <li>Learn more about Marines Doge</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="road-map">
                <h2>OUR ROAD MAP</h2>

                <div class="road-map-stater">
                    <div class="phase-1 phase-d">
                        <h1>Phase 1</h1>
                        <p>
                            Merchandise: Get your own DogeMarine merch
                            Meme contest with DogeMariners rewards & marketing campaigns
                            Contract Security Audit
                            Coingecko listing
                            Launch of the "Mariners Room”, a dedicated chat for heavy DMariners Fans and gifs addicts
                            Additional DEX listing
                        </p>
                    </div>
                    <div class="phase-2 phase-d">
                        <h1>Phase 2</h1>
                        <p>
                            Further marketing campaigns, competitions & giveaways
                            Launch the “DogeMariners coalition” by partnering up with several dog meme coins for a
                            charity program to donate to dog
                            shelters because doggos are the best!
                        </p>
                    </div>
                    <div class="phase-3 phase-d">
                        <h1>Phase 3</h1>
                        <p>
                            Coinmarket cap listing
                            Listing on CEX
                            DMariners NFT’s to contribute to project growth and for charity.
                        </p>
                    </div>
                    <div class="phase-4 phase-d">
                        <h1>Phase 4</h1>
                        <p>
                            Quarterly community driven vote on future development of DMariners
                            Contract development; social media setup; presale marketing, presale whitelist, presale
                            launch. Binance listing and world domination.
                        </p>
                    </div>
                </div>
            </section>
            <section class="connect">
                <div class="connect-l">
                    <img src="{% static 'mdoge/img/main_doge.png' %}" alt="">
                    <div class="connect-title">
                        <h2>Connect with us</h2>
                        <p>Our community has always been our number 1 priority.
                            Feel free to follow us on twitter, and our other social platforms to stay up-to-date
                        </p>
                        <h5>Join our Telegram community and say Hi!</h5>
                        <div class='connect-social'>
                            <h3>BUY PANCAKESWAP</h3>
                            <h3>TELEGRAM</h3>
                            <h3>TWITTER</h3>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-container">
                <div class="footer-main">
                    <div class="footer-cpyr">
                        <h2>DogeMarines Token</h2>
                        <img src="{% static 'mdoge/img/main_doge.png' %}">
                        <h2>2021 Marines</h2>
                    </div>
                    <div class='footer-dis'>
                        <p>
                            The contents on this site are for informational and entertainment purposes only and do not
                            constitute financial,
                            accounting, or legal advice. All investments are done at your own risk and research. Token
                            creators hold no
                            responsibility or liability for your investments.
                        </p>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='{%static "mdoge/js/app.js"%}'></script>

</html>
