@media  (max-width:798px){
    header{
        .nav-top{
            display: flex;
            flex-direction: column;
            position: relative;
        .nav-l{
            align-self: flex-start;
            width: 100%;
            .nav-r li {
                padding: 0 0.5rem;
            }
        }
        .nav-m {
            position: fixed;
            top:-100;
            background-color: rgb(29, 28, 28);
            width: 100%;
            transition: all 0.5s;
            height: 0vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
        }
        .nav-m li{
            display: block;
            color: white;
            text-align: center;
        }
        .nav-r{
            display: none;
        }
        .check-menu {
            display: block;
            position: absolute;
            top:40;
            right:20;
        }
        #menu{
            display: none;
            top: 40;
            right: 20;

        }
    }
}
    .marines-tokens{
        display: flex;
        flex-wrap: wrap;
        .token-title{
            width: 243px;
        }
    }
    
    .connect{
        .connect-l {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                max-width: 110px;
            }
                .connect-title {
                    .connect-social {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .footer-container{
        position: relative;
        .footer-main{
            .footer-cpyr {
                display: flex;
                justify-content: space-between;
                h2 {
                    font-size: 15px;
                }
                img {
                    max-width: 100px;
                    position: absolute;
                    left: calc(55% - 75px);
                    top: -90;
                    object-fit: contain;
                }
            }
            .footer-dis{
                font-size: 10px;
            }
        }
    }
    .obj-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            order: 1;
            width: 70%;
        }
    }
    .obj-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 70%;
            background-blend-mode: multiply;

        }
    }
    .main-content{
        .main-content-inner{
            .mn-cnt-add {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap:1rem;
                h3 {
                    margin: 0;
                }
                p{
                    font-size: 12.5px;
                }
            }
            .mn-cnt-mp {
                display: flex;
                flex-wrap: wrap;
            }
            .mn-cnt-mp img {
               margin-bottom: 1rem;
               width: 169px;
               object-fit: contain;
            }
        }
    }
    #menu:checked ~ .nav-m {
        height: 100vh;
        top: 0;
    }
    #menu:checked ~ .check-menu{
        color: white;
    }
    .mn-finicail-m{
        #clockdiv div > span {
            font-size: 14px;
        }

    }

}

@media (max-width:922px) {
    .road-map {
        text-align: center;
        .road-map-stater {
            .timeline {
                display: flex;
                flex-direction: column-reverse;
                padding: 2rem;
                &::before {
                    position: relative;
                }

                .fa-globe {
                    display: none;
                }
                .timeline-year {
                    font-size: 20px;
                }
                .inner-content > h3 {
                }
                .inner-content > p {
                }
            }
        }
    }

}